<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>
<form action="/checkanswer" method="post">
    <div th:each="question : ${questions}">
        <h2 th:text="${question.getQuestion()}"></h2>
        <h3 th:text="${question.getCategory()} + ' ' + ${question.getDifficulty()}"></h3>
        <select th:name="${question.getName()}" th:id="${question.getName()}">
            <option value="-1">kies een antwoord</option>
            <option th:each="answer : ${question.getAnswers()}"
                    th:text="${answer}" th:value=${answerStat.index}
            ></option>
        </select>
    </div>
    <p>
    <input th:type="submit" value="Antwoorden bevestigen">
    </p>
</form>
</body>
</html>